body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.cornflowerblue {
    color: cornflowerblue;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 95, 55), rgb(216, 110, 91));
    padding: 10px 40px;
    color: rgb(248, 248, 248);
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}